@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/* Formatações gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: var(--background-primary);
    color: var(--text-primary);
}

:root{
    --background-primary: #040404; /*Cor principal*/
    --text-primary: #FFFFFF; /*Cor principal das letras*/
    --error: #DF0D0D; /*Cor de erro: lixeira e armazenamento cheio*/
    --cta-primary: #E55000; /*Cor do botão p/ criar tarefa principal*/
    --cta-border: #BD4200; /*Cor da borda do botão da tarefa principal*/
    --task-completed: rgba(71, 196, 49, 0.6); /*Tarefa concluída*/
    --checked: #258601; /**/
    --button-create-task: #2CD70A; /*Cor do botão de criar tarefa*/
    --background-task: #575252; /*Cor do container de tarefas*/
    --letter-water: #716AC9; /*Cor da letra da tarefa especial*/
    --drink-water: rgba(13, 140, 233, 0.7); /*Cor da água da garrafa*/
    --cup-water: rgba(60, 54, 224, 0.5); /*Cor da água do copo*/
    --bg-subtask-main-modal: #EEEEEE; /*Cor de background da subtarefa no main-modal*/
    --tip: #F96464 /*Cor de dicas: */
}

.checkmark{
        position: relative;
        display: inline-block;
        width: 16px; height: 16px;
        border: 2px solid var(--text-primary);
        margin-right: -4px;
        cursor: pointer;
    }

    .checkmark i{
        position: absolute;
        top: 40%;
        left: 70%;
        transform: translate(-50%, -50%);
        font-size: 32px;
        font-weight: 600;
        opacity: 0;
        transition: opacity .2s ease;
    }

    .checkmark i.active{
        opacity: 1;
    }

/*Section header*/
header{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Karla", sans-serif;
}

header #visual-storage{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/*Barra de progresso do armazenamento*/
header #visual-storage .progress-storage{
    width: 50%;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
}

/*Título e criação de tarefas*/
/* Observação: */
/* #createTasks e #main-container precisam ter a mesma largura */
header #createTasks{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    margin-bottom: 10px;

    .btn-createTasks{
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--text-primary);
        background-color: var(--button-create-task);
        padding: 8px 14px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: .9em;
        position: absolute; top: 50%; right: 0;
        transform: translate(0, -50%);
    }

    .btn-createTasks img,
    .btn-createTasks span{
        background-color: var(--button-create-task);
    }
}

/*Modais*/

/*Geral*/
dialog[open]{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 0 30px;
    overflow: hidden;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, .5);
}

dialog{
    padding: 20px;
    width: 40%;
}

dialog .title{
    font-family: 'Karla', sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.9em;
}

dialog .texts-container,
dialog .buttons{
    padding: 0 25px;
}

dialog .line{
    width: 100%;
    height: 2px;
    border: 1px solid #6b676766;
    border-radius: 10px;
    margin: 10px 0;
}

/*Animation*/
@keyframes slideDown{
    from{
        top: -300px;
        left: 50%;
    }
    to{
        top: 50%;
        left: 50%;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

dialog.fadeOut{
    animation: fadeOut 0.3s ease;
}


/*Modal principal*/
.main-modal.slideDown{
    animation: slideDown 0.6s ease;
}

.main-modal p{
    margin-bottom: 5px;
}

.main-modal .buttons{
    display: flex;
    flex-direction: column;
}

.main-modal .buttons button{
    padding: 6px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.2s;
    text-align: center;
}
.main-modal .buttons .btn-createSimpleTask{
    margin-bottom: 10px;
    background-color: var(--button-create-task);
    width: 35%;
}
.main-modal .buttons .btn-createSimpleTask:hover{
    background-color: #399714;
}

.main-modal .buttons .btn-createTWS{
    background-color: var(--cta-primary);
    width: 48%;
}
.main-modal .buttons .btn-createTWS:hover{
    background-color: #c96f16;
}


/*Modal da Tarefa Simples*/
.simpleTask-modal .input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.input-container input{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 4px;
    outline: none;
    border: 1px solid #5e5b5b;
    border-radius: 4px;
    width: 40%;
}

.simpleTask-modal button{
    background-color: var(--button-create-task);
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 20px;
    font-size: 1em;
    transition: background 0.2s ease;
}
.simpleTask-modal button:hover{
    background-color: #399714;
}

/*Modal de tarefa com subtarefas*/
.taskSubtasks-modal{
    height: 110px;
    overflow: hidden;
    transition: all 0.3s;
}
.taskSubtasks-modal.active{
    height: 100%;
}
.taskSubtasks-inputs{
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease;
}
.taskSubtasks-inputs label{
    display: flex;
    margin-bottom: 20px;
    height: 31px;
}

/*Ativação*/
.taskSubtasks-inputs .defined-name{
    margin-top: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #524d4d;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
}
.taskSubtasks-inputs .defined-name::before{
    position: absolute;
    font-size: 0.7em;
    color: #524d4d;
    top: -10px;
    left: 0;
    transform: translateY(-50%);
    content: "Nome da tarefa principal:"
}
/*--------*/
.taskSubtasks-inputs .btn-addSubtask{
    display: flex;
    align-items: center;
    justify-content: center;
}
.taskSubtasks-inputs label i{
    font-size: 26px;
}
.taskSubtasks-inputs input{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 4px;
    outline: none;
    border: 1px solid #5e5b5b;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 60%;
}
.taskSubtasks-inputs button{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 4px 20px;
    background-color: var(--button-create-task);
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    border: 1px solid #5e5b5b;
    border-left: none;
    transition: background 0.2s ease;
}
.taskSubtasks-inputs button:hover{
    background: #258601;
}
.taskSubtasks-inputs label + span{
    margin-bottom: 4px;
}

.taskSubtasks-inputs label:last-child button{
    padding: 4px 8px;
}

.taskSubtasks-inputs .limit{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    padding: 6px;
    border-radius: 4px;
    text-align: center;
    background-color: var(--cta-primary);
    cursor: pointer;
}

    /*Lista de subtarefas*/
    .taskSubtasks-list{
        position: relative;
        width: 100%;
        min-height: 300px;
        max-height: max-content;
        border: 2px solid #000;      
        border-radius: 0 30px;
        padding: 30px 0;
    }
    .taskSubtasks-list::before{
        content: 'Lista de subtarefas';
        z-index: 999;
        background-color: #fff;
        font-weight: 600;
        font-size: 1.2em;
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* in Modal */
    .subtask-list-inModal{
        margin-top: -10px;
        min-height: 270px;
        max-height: 270px;
        overflow-y: auto;
        font-size: 1.2em;
    }
    .subtask-list-inModal p{
        position: relative;
        border: 1px solid #000;
        border-left: none;
        border-right: none;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .subtask-list-inModal p:first-child{
        border-top: none;
    }
    .subtask-list-inModal p:nth-child(even){
        background-color: var(--bg-subtask-main-modal);
        border-top: none;
        border-bottom: none;
    }
    .subtask-list-inModal p:last-child{
        border-bottom: 1px solid #000;
    }
    .subtask-list-inModal p .nameSubTask{
        display: inline-block;
        width: 60%;
        border-left: 1px solid #797575;
        padding-left: 8px;
    }
    .handle{
        padding: 0 8px;
        cursor: grab;
    }
    .handle i{
        font-size: .8em;
    }
    .delete i{
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: red;
    }
    .createMainTask{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .createMainTask button{
        display: none;
        color: #FFF;
        border: 2px solid var(--cta-border);
        border-radius: 6px;
        background-color: var(--cta-primary);
        padding: 4px 12px;
        font-size: 1.4em;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        transition: background .2s ease;
    }
    .createMainTask button:hover{
        background-color: #BD4200;
    }

/*Conteúdos*/
#main-container{
    width: 90%;
    min-height: 80vh;
    height: max-content;
    border: 2px solid #fff;
    margin: 0 auto;
    display: flex;
    padding: 30px 0;

    .task-status{
        text-align: center;
    }

    .column{
        width: 50%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#main-container .task-status{
    font-family: "Karla", sans-serif;
    font-size: 1.8em;
}

/* Task container */
.task-container{
    margin-top: 18px;
    height: max-content;
    width: 80%;
    padding: 10px;
    font-size: 1.4em;
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-task);
    border-radius: 6px;
    justify-content: space-between;
    /* cursor: grab; */

    .task{
        min-width: 80%;
        max-width: max-content;
        overflow: hidden;
        cursor: grab;
    }

    /*Gerenciamento*/
    .task, .management{
        display: flex;
        gap: 12px;
        justify-content: center;
        align-items: center;
    }

    .management button{
        background-color: var(--background-task);
        border: none;
        cursor: pointer;
    }

    /* Task name*/
    .taskName{
        width: 90%;
        height: max-content;
        position: relative;
        overflow-wrap: break-word;
    }

    /*Animation in task name*/
    .taskName span{
        display: inline;
        position: relative;
        cursor: pointer;
    }

    .taskName span{
        background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
        background-size: 0% 4px;
        background-repeat: no-repeat;
        background-position: left center;
        transition: background-size 0.4s;
    }
    .taskName.checked span{
        background-size: 100% 4px;
    }
}


/*Task with subtask*/
.task-container.main{
    display: flex;
    flex-direction: column;

    .main-task{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
    }

    .task-name-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .main-task h3{
        font-size: 1.1em;
    }

    .main-task .triangle{
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid var(--text-primary);
        transform: rotate(-90deg);
        transition: transform 0.3s ease;
        margin-top: 4px;
    }
    /* Ativado */
    .triangle.expand{
        transform: rotate(0deg);
    }


    .progress{
        display: none;
    }
}

/* Subtarefas */
.subtask-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.subtasks-list{
    overflow: hidden;
    height: 100%;
    margin-left: -10px;
    /* border: 1px solid red; */
}
/*Ideia*/
/* .subtask-container:nth-child(2){
    padding-bottom: 2px;
    border-bottom: 2px dashed rgba(204, 204, 204, 0.6);
} */

.subtask-container .subtask{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 75%;
}
.subtask-container .subtask .taskName{
    overflow-wrap: break-word;
}