@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Formatações gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: var(--background-primary);
    color: var(--text-primary);
}

:root{
    --background-primary: #040404; /*Cor principal*/
    --text-primary: #FFFFFF; /*Cor principal das letras*/
    --error: #DF0D0D; /*Cor de erro: lixeira e armazenamento cheio*/
    --cta-primary: #ED7600; /*Cor do botão p/ criar tarefa principal*/
    --task-completed: rgba(71, 196, 49, 0.6); /*Tarefa concluída*/
    --checked: #258601; /**/
    --button-create-task: #2CD70A; /*Cor do botão de criar tarefa*/
    --background-task: #575252; /*Cor do container de tarefas*/
    --letter-water: #716AC9; /*Cor da letra da tarefa especial*/
    --drink-water: rgba(13, 140, 233, 0.7); /*Cor da água da garrafa*/
    --cup-water: rgba(60, 54, 224, 0.5); /*Cor da água do copo*/
    --bg-subtask-main-modal: #EEEEEE; /*Cor de background da subtarefa no main-modal*/
    --tip: #F96464 /*Cor de dicas: */
}

input[type="checkbox"]{
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark{
        position: relative;
        display: inline-block;
        width: 16px; height: 16px;
        border: 2px solid var(--text-primary);
        margin-right: -4px;
    }
    .checkmark::after{
        content: "";
        position: absolute;
        display: none;
    }
    input:checked + .checkmark::after{
        display: block;
        left: 1px; top: -8px;
        transform: rotate(45deg);
        border-radius: 2px;
        width: 10px; height: 16px;
        border: solid white;
        border-width: 0 3px 3px 0;
    }


/*Section header*/
header{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Karla", sans-serif;
}

header #visual-storage{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/*Barra de progresso do armazenamento*/
header #visual-storage .progress-storage{
    width: 50%;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
}

/*Título e criação de tarefas*/
/* Observação: */
/* #createTasks e #main-container precisam ter a mesma largura */
header #createTasks{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    margin-bottom: 10px;

    .btn-createTasks{
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--text-primary);
        background-color: var(--button-create-task);
        padding: 8px 14px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: .9em;
        position: absolute; top: 50%; right: 0;
        transform: translate(0, -50%);
    }

    .btn-createTasks img,
    .btn-createTasks span{
        background-color: var(--button-create-task);
    }
}

/*Modais*/

/*Geral*/
dialog[open]{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 0 30px;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, .5);
}

dialog{
    padding: 20px;
    width: 40%;
}

dialog .title{
    font-family: 'Karla', sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.9em;
}

dialog .texts-container,
dialog .buttons{
    padding: 0 25px;
}

dialog .line{
    width: 100%;
    height: 2px;
    border: 1px solid #6b676766;
    border-radius: 10px;
    margin: 10px 0;
}

/*Animation*/
@keyframes slideDown{
    from{
        top: -300px;
        left: 50%;
    }
    to{
        top: 50%;
        left: 50%;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

dialog.fadeOut{
    animation: fadeOut 0.3s ease;
}


/*Modal principal*/
.main-modal.slideDown{
    animation: slideDown 0.6s ease;
}

.main-modal p{
    margin-bottom: 5px;
}

.main-modal .buttons{
    display: flex;
    flex-direction: column;
}

.main-modal .buttons button{
    padding: 6px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.2s;
    text-align: center;
}
.main-modal .buttons .btn-createSimpleTask{
    margin-bottom: 10px;
    background-color: var(--button-create-task);
    width: 35%;
}
.main-modal .buttons .btn-createSimpleTask:hover{
    background-color: #399714;
}

.main-modal .buttons .btn-createTWS{
    background-color: var(--cta-primary);
    width: 48%;
}
.main-modal .buttons .btn-createTWS:hover{
    background-color: #c96f16;
}


/*Modal da Tarefa Simples*/
.simpleTask-modal .input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.input-container input{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 4px;
    outline: none;
    border: 1px solid #5e5b5b;
    border-radius: 4px;
    width: 40%;
}

.simpleTask-modal button{
    background-color: var(--button-create-task);
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 20px;
    font-size: 1em;
    transition: background 0.2s ease;
}
.simpleTask-modal button:hover{
    background-color: #399714;
}

/*Conteúdos*/
#main-container{
    width: 90%;
    min-height: 80vh;
    height: max-content;
    border: 2px solid #fff;
    margin: 0 auto;
    display: flex;
    padding: 30px 0;

    .task-status{
        text-align: center;
    }

    .column{
        width: 50%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#main-container .task-status{
    font-family: "Karla", sans-serif;
    font-size: 1.8em;
}

/* Task container */
.task-container{
    margin-top: 18px;
    width: 80%;
    padding: 10px;
    font-size: 1.4em;
    display: flex; 
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-task);
    border-radius: 6px;
    justify-content: space-between;

    .task{
        cursor: pointer;
    }

    /*Gerenciamento*/
    .task, .management{
        display: flex;
        gap: 12px;
        justify-content: center;
        align-items: center;
    }

    .management button{
        background-color: var(--background-task);
        border: none;
        cursor: pointer;
    }

    /* Task name*/
    .taskName{
        position: relative;
    }

    /*Animation in task name*/
    .taskName::before{
        content: "";
        width: 0%;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        left: 0;
        top: 50%;
        transition: 0.3s;
    }

    .taskName.checked{
        color: #9C9E9F;
    }

    .taskName.checked::before{
        width: 100%;
    }
}


/*Task with subtask*/
.task-container.main{
    display: flex;
    flex-direction: column;

    .main-task{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
    }

    .task-name-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .main-task h3{
        font-size: 1.1em;
    }

    .main-task .triangle{
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid var(--text-primary);
        transform: rotate(-90deg);
        transition: transform 0.3s ease;
        margin-top: 4px;
    }
    /* Ativado */
    .triangle.expand{
        transform: rotate(0deg);
    }


    .progress{
        display: none;
    }
}

/* Subtarefas */
.subtask-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.subtasks-list{
    overflow: hidden;
    height: 0;
}
/*Ideia*/
/* .subtask-container:nth-child(2){
    padding-bottom: 2px;
    border-bottom: 2px dashed rgba(204, 204, 204, 0.6);
} */

.subtask-container .subtask{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
